@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,700;1,100;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&family=Raleway:ital,wght@0,200;0,300;0,400;0,700;0,900;1,100;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body ::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.customShadow{
    box-shadow: rgb(112 144 176 / 18%) 14px 17px 40px 4px;;
    /* box-shadow: #7090b014; */
}


.style {
  background: center center / cover rgba(244, 247, 254, 0.2);
  transition-delay: 0s, 0s, 0s, 0s;
  transition-duration: 0.25s, 0.25s, 0.25s, 0s;
  transition-timing-function: linear, linear, linear, linear;

}
.ql-container{
  min-height: 50vh;
}

/* on success animation */
.success-animation { margin:150px auto;}

.checkmark {
    /* width: 100px;
    height: 100px; */
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position:relative;
    /* top: 5px;
    right: 5px; */
   margin: 0 auto;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
 
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}

.required label {
  font-weight: bold;
}
.required label:after {
  color: #e32;
  content: ' *';
  display:inline;
}


/* .style.success {
  background: center center / cover rgba(244, 247, 254, 0.2);
  transition-delay: 0s, 0s, 0s, 0s;
  transition-duration: 0.25s, 0.25s, 0.25s, 0s;
  transition-timing-function: linear, linear, linear, linear;
}
.style.success:hover {
  background: center center / cover rgba(244, 247, 254, 0.2);
  transition-delay: 0s, 0s, 0s, 0s;
  transition-duration: 0.25s, 0.25s, 0.25s, 0s;
  transition-timing-function: linear, linear, linear, linear;
}
.style.success:hover:before {
  background: center center / cover rgba(244, 247, 254, 0.2);
  transition-delay: 0s, 0s, 0s, 0s;
  transition-duration: 0.25s, 0.25s, 0.25s, 0s;
  transition-timing-function: linear, linear, linear, linear;
}
.style.success:hover:after {
  background: center center / cover rgba(244, 247, 254, 0.2);
  transition-delay: 0s, 0s, 0s, 0s;
  transition-duration: 0.25s, 0.25s, 0.25s, 0s;
  transition-timing-function: linear, linear, linear, linear;
}
 */
